<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- Installation Applications and File Locations -->
    <add key="Python" value="C:\WinHDP\Files\python-2.7.6.amd64.msi"></add>
    <add key="VisualC" value="C:\WinHDP\Files\vcredist_x64.exe"></add>
    <add key="DotNetFramework" value="C:\WinHDP\Files\dotNetFx40_Full_setup.exe"></add>
    <add key="Java" value="C:\WinHDP\Files\jdk-7u75-windows-x64.exe"></add>
    <add key="HDP" value="C:\WinHDP\Files\hdp-2.2.0.0.winpkg.msi"></add>
    <add key="ClusterProperties" value="C:\WinHDP\Files\clusterproperties.txt"></add>
    <!--Hadoop user password-->
    <add key="HadoopPassword" value="HortonworkS4554$"></add>
    <!-- Knox master password-->
    <add key="KnoxMasterKey" value="HortonworkS4554$"></add>
    <!-- Required for Server 2008.. DO NOT REMOVE-->
    <add key="Powershell3" value="C:\WinHDP\Files\Windows6.1-KB2506143-x64.msu"></add>
    <!-- Installation Directory structure-->
    <add key="HDPDir" value="C:\HDP"></add>
    <!-- Optional configuration -->
    <add key="EnableFirewall" value="False"></add>
    <add key="RestartForIPV6" value="False"></add>
    <add key="StartServices" value="True"></add>
    <add key="RunSmokeTests" value="True"></add>
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogFileName}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
